@font-face {
	font-family: 'Annabelle';
	src: url('../fonts/Annabelle.eot');
	src: local('☺'), url('../fonts/Annabelle.woff') format('woff'), url('../fonts/Annabelle.ttf') format('truetype'), url('../fonts/Annabelle.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#wrapper > main > article p {
	margin: 0;
	margin-bottom: 20px;
}

#wrapper > main > article {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	align-items: center;

	margin: 0 auto;
}

#wrapper > main > article > * {
	padding: 10px;
	flex: 1 100%;
}

#wrapper > main > article > header > h1 {
	text-align: center;
	font-weight: normal;
	font-weight: bold;
}

#wrapper > main > article > header > h2 {
	text-align: right;
	font-family: 'Annabelle';
	font-weight: normal;
	font-size: 30px;
}

#wrapper > main > article > section {
	flex: 1 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
}

#wrapper > main > article > section:last-child {
	flex: 1 100%;
}

@media screen and (max-width: 532px) {
	#wrapper > main > article > section > div {
		flex-basis: 250px;
	}
}

#wrapper > main > article > section > div > p:last-child {
	margin-bottom: 0;
}

#date {
	font-weight: lighter;
	text-align: right;
}