html, body, #wrapper {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Times New Roman";
	font-size: 15px;
}

#wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	align-items: stretch;
}

#wrapper > header,
#wrapper > main,
#wrapper > footer {
	flex: 1 1 auto;
}

#wrapper > header {
	background-color: #008000;
}

#wrapper > header > nav {
	margin-top: 20px;
}

#wrapper > header > nav > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#wrapper > header > nav > ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#wrapper > header > nav > ul > li > a {
	padding: 20px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#wrapper > header > nav > ul > li > a:hover {
	background-color: #006800;
}

#wrapper > header > nav > ul > li.active > a {
	color: #F00;
	background-color: #006800;
}

#wrapper > main {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-content: stretch;
	height: 100%;
	flex: 1 1 100%;
}

#wrapper > main > aside,
#wrapper > main > article {
	padding: 10px;
}

#wrapper > main > aside {
	padding-top: 30px;
	flex: 1 1 200px;
	order: 1;
	background-color: #F1DCDB;
	text-align: right;
}

#wrapper > main > aside > h3 {
	font-weight: normal;
	font-size: 1em;
}

#wrapper > main > aside > nav ul {
	list-style: none;
	padding: 0;
}

#wrapper > main > aside > nav > ul li a {
	text-decoration: none;
	color: #000;
}

#wrapper > main > aside > nav > ul li.active a {
	text-decoration: underline;
	color: #00E;
}

#wrapper > main > aside > nav > ul > li > a {
	text-align: left;
	display: block;
	font-style: italic;
	font-size: 0.9em;
}

#wrapper > main > article {
	flex: 10 1 800px;
	order: 2;
	background-color: #FEFF99;
}

#wrapper > footer {
	text-align: center;
	background-color: #F00;
	padding: 10px;
}