#wrapper > main > article > h1 {
	font-style: italic;
	text-decoration: underline;
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	margin: 20px 0;
}

#wrapper > main > article > p {
	text-indent: 40px;
}