body {
    background: url("/img/background.jpg");
    min-width: 970px;
}

.container {
    min-width: 970px !important;
    max-width: none !important;
}

.card {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.05);
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    border-radius: 2px;
}

.none {
    text-align: center;
    font-style: italic;
    margin: 20px 0;
}