body {
    padding-top: 20px;
    background: #f0f0f0;
}

.card {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.card > .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.none {
    text-align: center;
    font-style: italic;
    margin: 40px 0;
}

#list .card {
    cursor: pointer;
}