body {
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, header > #info {
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 12px;
}

hr {
	margin: 20px auto;
}

ul {
	list-style: none;
	padding: 0;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td, th {
	padding: 8px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
	border: 1px solid #DDD;
}

header h1 {
	color: red;
	text-align: center;
	font-family: "Times New Roman", serif;
}

header > #info {
	text-align: center;
}

section > .section-body {
	margin-left: 40px;
}

section#participants table > tbody > tr > td:nth-child(2) {
	text-align: right;
}