#game {
  display: table;
  margin: 0 auto;

  .circle-container {
    display: inline-block;
  }

  .circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #dbdbdb;
    margin: 50px;

    h5 {
      line-height: 200px;
      text-align: center;
    }
  }
}